*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: 'Kajiro';
  src: url('/Kajiro Bold.ttf') format('truetype');
  font-weight: bold;
}

.back{
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.workingArea{
    position: relative;
    height: 100vh;
    width: 80%;
    min-width: 500px;
    /* background-color: antiquewhite; */
    margin: 0 auto;
    z-index: 99;
    pointer-events: none;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    /* background: #000; */
    padding: 20px;
    align-items: center;
}

nav a{
    pointer-events: all;
    text-decoration: none;
    color: aliceblue;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nleft, .nright{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 700;
    /* background-color: antiquewhite; */
    gap: 60px;
    text-decoration: none;
    color: aliceblue;
}

.nright{
    justify-content: end;
}

.nleft img{
    height: 60px;
    width: auto;
}

.hero{
    width: 100%;
    /* background: #000; */
    height: auto;
    position: absolute;
    display: flex;
    top: 50%;
    transform: translate(0, -47%);
    justify-content: space-between;
}

.hleft{
    min-width: 50%;
    height: 100%;
    /* background-color: aliceblue; */
    align-items: center;
}

.hright{
    width: 25%;
    height: 100%;
    /* background-color: aliceblue; */
}

.em{
    /* background-color: aqua; */
    /* border: 1px solid ; */
    padding: 5px;
    font-family: 'kajiro';
    line-height: 8rem;
    overflow: hidden;
}

.em h1{
    color: aliceblue;
    font-size: 12rem;
    margin-top: 15px;
}

.hleft button{
    pointer-events: all;
    margin-top: 10px;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hright{
    width: 23%;
    /* background-color: black; */
    color: aliceblue;
    text-align: end;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(0, -47%);
    font-weight: 600;
}

.hright p:nth-child(1){
    margin-bottom: 20px;
}

.hright p:nth-child(3){
    margin-bottom: 80px;
}

.image{
    height: 200px;
    width: 80%;
    margin-left: auto;
    background-color: aliceblue;
    margin-bottom: 30px;
    overflow: hidden;
}

.image img{
    object-fit: cover;

}

